<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Commons" version="0.4.0.1347" targetFramework="net461" />
  <package id="ICSharpCode.SharpZipLib-dogfood" version="1.0.344" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="Memcached.ClientLibrary" version="1.0" targetFramework="net461" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
</packages>