@model IEnumerable<Wei.OA.Model.RoleInfo>
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/MyCss/BetterTableCss.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.7.5/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.7.5/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Content/jquery-easyui-1.7.5/jquery.easyui.min.js"></script>
    <script src="~/Content/jquery-easyui-1.7.5/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/old/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/old/MyAjaxForm.js"></script> 
    <script type="text/javascript">
        $(function () {
            initTalbe();

            $('#addDialogDiv').css("display", "none");
            $('#editDialogDiv').css("display", "none");

        });

        //初始化表格
        function initTalbe(pars) {
            $('#tt').datagrid({
                url: '/WFTemp/GetAllTempInfos',
                title: '流程模板信息列表',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'Id', //主键列的列名
                loadMsg: '正在加载流程模板的信息...',
                pagination: true, //是否有分页
                singleSelect: false, //是否单行选择
                pageSize: 10, //页大小，一页多少条数据
                pageNumber: 1, //当前页，默认的
                pageList: [10, 20, 30],
                queryParams: pars, //往后台传递参数
                columns: [
                    [//a.Id,  a.TempName, a.ActivityType, a.Remark, a.SubTime, a.DelFlag
                        { field: 'ck', checkbox: true, align: 'left', width: 50 },
                        { field: 'Id', title: '编号', width: 80 },
                        { field: 'TempName', title: '流程模板名', width: 120 },
                        { field: 'Remark', title: '备注', width: 120 },
                        {
                            field: 'SubTime',
                            title: '提交时间',
                            width: 120,
                            formatter: function (value, row, index) {
                                return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                            }
                        },
                        {
                            field: 'ActivityType', title: '操作', width: 120, formatter: function (value, row, index) {
                                var str = "";
                                str += "<a href='javascript:void(0)' class='editLink' uid='" + row.Id + "'>修改</a> &nbsp;&nbsp;";
                                str += "<a href='javascript:void(0)' class='deleteLink' uid='" + row.Id + "'>删除</a>";
                                return str;
                            }
                        }
                    ]
                ],
                toolbar: [
                    {
                        id: 'btnDownShelf',
                        text: '添加流程模板',
                        iconCls: 'icon-add',
                        handler: function () {
                            //弹出添加对话框
                            addClickEvent();
                        }
                    }, {
                        id: 'btnDelete',
                        text: '删除流程模板',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            //1.拿到easyui中选中的项
                            var rows = $('#tt').datagrid("getSelections");
                            if (!rows || rows.length == 0) {
                                $.messager.alert("错误提醒", "请选择删除的数据！", "warning");
                                return;
                            }
                            var strId = "";
                            //2.删除数据
                            for (var i = 0; i < rows.length; i++) {
                                strId = strId + rows[i].Id + ","; //1,2,3,
                            }
                            strId = strId.substr(0, strId.length - 1);
                            deleteEvent(strId);
                        }
                    }, {
                        id: 'btnEdit',
                        text: '修改流程模板',
                        iconCls: 'icon-edit',
                        handler: function () {
                            //校验是否只选中了一个流程模板
                            var rows = $('#tt').datagrid("getSelections");
                            if (rows.length != 1) {
                                $.messager.alert("错误提醒", "请选中一行要修改的数据！", "warning");
                                return;
                            }
                            editEvent(rows[0].Id);
                        }
                    }
                ],
                onHeaderContextMenu: function (e, field) {

                },
                onLoadSuccess: function (data) {
                    $('.editLink').click(function () {
                        editEvent($(this).attr("uid"));
                        return false;
                    });
                    $('.deleteLink').click(function () {
                        deleteEvent($(this).attr("uid"));
                        return false;
                    });
                }
            });
        }

        //当点击添加时弹出添加对话框
        function addClickEvent() {
            
            $('#addFrame').attr("src", "/WFTemp/Add");
            $('#addDialogDiv').css("display", "block");
            $('#addDialogDiv').dialog({
                title: "添加流程模板",
                modal: true,
                width: 400,
                height: 300,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizale: true,
                buttons: [
                    //{
                    //    id: 'btnOk',
                    //    text: '添加',
                    //    iconCls: 'icon-ok',
                    //    handler: subAddForm //把表单数据提交到后台,这里用不了了
                    //},
                    {
                        id: 'btnCancel',
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $('#addDialogDiv').dialog("close");
                        }
                    }
                ]
            });
        }

        //把表单数据提交到后台
        function subAddForm() {
            $('#addDialogDiv form').submit();
        }

        //添加成功过后执行的代码,现在由子窗口调用
        function afterAddByChild() {
            $('#addDialogDiv').dialog("close");
            $('#tt').datagrid("reload");//刷新表
        }
        //function afterAdd(data) {
        //    if (data == "ok") {
        //        //关闭对话框，刷新表格
        //        $('#addDialogDiv').dialog("close");
        //        initTalbe();
        //    } else {
        //        $.messager.alert(data);
        //    }
        //}

        //删除按钮被点击时执行
        function deleteEvent(strId) {
            //alert(strId);
            $.messager.confirm("提示", "确定要删除该记录?", function (r) {
                if (r) {
                    $.post("/RoleInfo/Delete",
                        { strId: strId },
                        function (data) {
                            if (data == "ok") {
                                initTalbe();
                            } else {
                                $.messager.alert("错误提醒", "删除失败！", "error");
                            }
                        });
                }
            });
        }

        //修改按钮点击时弹出对话框
        function editEvent(id) {

            //给iframe的src赋值
            $('#editFrame').attr("src", "/RoleInfo/Edit/" + id);

            $('#editDialogDiv').css("display", "block");
            $('#editDialogDiv').dialog({
                title: "修改流程模板",
                modal: true,
                width: 400,
                height: 300,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizale: true,
                buttons: [
                    {
                        id: 'btnOk',
                        text: '修改',
                        iconCls: 'icon-ok',
                        handler: function () {
                            $('#editFrame')[0].contentWindow.submitForm();//调用子容器提交表单方法
                        }
                    }, {
                        id: 'btnCancel',
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function () {
                            $('#editDialogDiv').dialog("close");
                        }
                    }
                ]
            });
        }

        //修改成功之后由子容器调用
        function afterEditSuccess() {
            $('#editDialogDiv').dialog("close");
            initTalbe();
        }

    </script>
</head>
<body>


    <!--当前页面放表格数据的地方-->
    <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>

    <!--弹出添加对话框-->
    <div id="addDialogDiv">
        <iframe id="addFrame" src="javascript:void(0)" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>

    </div>

    <!--弹出修改对话框-->
    <div id="editDialogDiv">
        <iframe id="editFrame" src="javascript:void(0)" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>

    </div>
</body>
</html>
