<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <!--spring.net对象容器的配置-->
    <context>
      <!--告诉我们容器里的所有对象在哪里配置的-->
      <resource uri="config://spring/objects" />
    </context>
    <!--配置容器里面的对象-->
    <objects xmlns="http://www.springframework.net">
      <description>an example that demonstrates simple IoC features.</description>
        <object name="UserInfoDal" type="SpringNetDemo.UserInfoDal,SpringNetDemo">          
          <constructor-arg index="0" value="哈哈"/><!--构造函数注入-->
          <!--<property name="Name" value="哈哈"/>属性注入-->
        </object>
    </objects>
  </spring>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>